input,
h2,
h1 {
  padding: 12px 20px;
  text-align: center;
  font-size: x-large;
  margin: 0;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.all-pages {
  background-color: rgb(2, 124, 206);
  height: 100vh;
  overflow-y: auto;
}
